<!--<div class="content-header" [ngClass]="{ 'open' : viewModel.isHidden }">-->
<div class="content-header col-8_sm-10 grid">
    <div class="title-row col-12">
        <div class="logo-relativity"></div>
    </div>
    <div class="header-text col-12">A directory of open source projects built and maintained by the Relativity developer community.</div>
    <div class="search-row col-12">
        <div class="icon-search" (click)="onSearchClicked()" ></div>
        <div class="search-text"(click)="onSearchClicked()">Search</div>
    </div>
</div>