<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJS" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <!-- Rule allows any requests to the build folders for content to go through without a rewrite. Release version will be rewritten via Grunt. -->
            <add input="{REQUEST_URI}" pattern="^/build/(app|content|js)" negate="true"/>
          </conditions>
          <!-- Rewrites requests that aren't filtered out to /build. Release version will be rewritten via Grunt. -->
          <action type="Rewrite" url="/build/"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>