$black : rgba(0,0,0,.75);
$off-white: #F1F2F2;
$light-gray: #E6E7E8;
$medium-gray: #cccbc4;
$gray: #313844;
$demi-gray: lighten($gray, 15%);
$dark-gray: #262B33;
$relativity-orange: linear-gradient(0deg, #FF7F2F 0%, #F68A1F 100%);
$orange: #FF7F2F;
$purple: #919BEA;
$blue: #3A82D8;
$green: #73DEA5;

$repo-text-hover: #FCFCFA;
$link-text: #9E9D98;
